header {

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    gap: 10px;
    
    height: 50px;

    margin: 0 auto 20px auto;
    padding: 0 20px;

    .logo {
        font-size: 25px;
        text-align: center;

        margin: 0;
        padding: 10px 0;

        color: brown;
    }

    .navList {

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        padding: 0;

        gap: 10px;

        list-style: none;

        .navItem {
            padding: 3px;
        }

    }
    
}